<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <img width="400" alt="cardapio Logo" src="http://joaoeval.com.br/imagens/decor/cardapio_logo.png">
</div>
<div class="container"> 
<button (click)="Listar()" class="btn btn-info">Listar</button>
<button (click)="Adicionar()" class="btn btn-info" style="margin-left: 10px;">Adicionar</button>
<a href='http://localhost:8080/swagger-ui.html' target="_blank">
  <button class="btn btn-info" style="margin-left: 10px;">Documentação API</button>
</a>
</div>

<router-outlet></router-outlet>
